ion-title {
  text-align: center;
  display: block;
  margin: auto;
}

.person-icon {
  font-size: 28px; /* increase the size */
  margin: 0 10px; /* increase the margin for better spacing */
  cursor: pointer;
}

.person-icon ion-icon {
  color: gray; /* default color */
}

.person-icon.selected ion-icon {
  color: blue; /* selected color */
}

.person-icon:hover ion-icon {
  color: rgb(0, 3, 34); /* hover color */
}

.trip-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

.trip-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

.driver-info {
  display: flex;
  align-items: center;
  gap: 1rem;

  img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .driver-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-weight: bold;
  }

  .driver-name {
    font-size: 1.2rem;
  }

  .trip-count,
  .driver-rating {
    font-size: 0.8rem;
    color: #666;
  }

  .driver-rating {
    color: #ffca28;
  }
}

img {
  width: 100%;
  max-width: 20rem;
  object-fit: cover;
  border-radius: 1rem;
}

.trip-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.9rem;

  .trip-destination {
    font-weight: bold;
  }

  .trip-date,
  .trip-time,
  .vehicle-type {
    color: #666;
  }
}
.star {
  color: gold;
  margin-left: 5px;
}


.amenities {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 0.5rem;

  img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}
.seat-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.seat-icon {
  font-size: 24px;
  margin: 0 5px;
  cursor: pointer;
}

.seat-icon:hover {
  color: blue;
}

  }
}
