<!-- <ion-header>
  <ion-toolbar style="height: 75px; --border-width:0" color="primary">
    <ion-title>TRIP HISTORY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/car2.jpg">
      </ion-avatar>
      <ion-label>
        <h2>OneDub Chicago to Indiana</h2>
        <p>April 15, 2023 - 12:00 PM</p>
        <p>$200</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/car4.jpg">
      </ion-avatar>
      <ion-label>
        <h2>OneDub Chicago to Wisconsin</h2>
        <p>April 20, 2023 - 1:00 PM</p>
        <p>$250</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/car1.jpg">
      </ion-avatar>
      <ion-label>
        <h2>RoundT Chicago to Indiana and Back</h2>
        <p>April 25, 2023 - 11:00 AM</p>
        <p>$400</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/car3.jpg">
      </ion-avatar>
      <ion-label>
        <h2>RoundT Chicago to Milwaukee and Back</h2>
        <p>April 28, 2023 - 9:00 AM</p>
        <p>$500</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/car2.jpg">
      </ion-avatar>
      <ion-label>
        <h2>OneDub Chicago to Indiana</h2>
        <p>April 15, 2023 - 12:00 PM</p>
        <p>$200</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/car4.jpg">
      </ion-avatar>
      <ion-label>
        <h2>OneDub Chicago to Wisconsin</h2>
        <p>April 20, 2023 - 1:00 PM</p>
        <p>$250</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/car1.jpg">
      </ion-avatar>
      <ion-label>
        <h2>RoundT Chicago to Indiana and Back</h2>
        <p>April 25, 2023 - 11:00 AM</p>
        <p>$400</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="assets/car3.jpg">
      </ion-avatar>
      <ion-label>
        <h2>RoundT Chicago to Milwaukee and Back</h2>
        <p>April 28, 2023 - 9:00 AM</p>
        <p>$500</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->


<!-- Ion-header: The header section of the page -->
<ion-header>
  <!-- Ion-toolbar with a primary color -->
  <ion-toolbar style="height: 75px; --border-width:0" color="primary">
    <!-- Ion-title in the center of the toolbar -->
    <ion-title>TRIP HISTORY</ion-title>
  </ion-toolbar>
</ion-header>
<!-- Ion-header: The header section of the page -->
<ion-header>
  <!-- Ion-toolbar with a primary color -->
  <ion-toolbar color="primary">
    <!-- Ion-title in the center of the toolbar -->
    <ion-title>TRIP HISTORY</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Ion-content: The main content section of the page -->
<ion-content>
  <!-- Ion-list for displaying a list of trip items -->
  <ion-list>
    <!-- Ion-item for each trip entry -->
    <ion-item>
      <!-- Ion-avatar for an image at the start -->
      <ion-avatar slot="start">
        <!-- Image of the trip -->
        <img src="assets/car2.jpg">
      </ion-avatar>
      <!-- Ion-label for the trip details -->
      <ion-label>
        <!-- Title of the trip -->
        <h2>OneDub Chicago to Indiana</h2>
        <!-- Date and time of the trip -->
        <p>April 15, 2023 - 12:00 PM</p>
        <!-- Cost of the trip -->
        <p>$200</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <!-- Ion-avatar for an image at the start -->
      <ion-avatar slot="start">
        <!-- Image of the trip -->
        <img src="assets/car4.jpg">
      </ion-avatar>
      <!-- Ion-label for the trip details -->
      <ion-label>
        <!-- Title of the trip -->
        <h2>OneDub Chicago to Wisconsin</h2>
        <!-- Date and time of the trip -->
        <p>April 20, 2023 - 1:00 PM</p>
        <!-- Cost of the trip -->
        <p>$250</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <!-- Ion-avatar for an image at the start -->
      <ion-avatar slot="start">
        <!-- Image of the trip -->
        <img src="assets/car1.jpg">
      </ion-avatar>
      <!-- Ion-label for the trip details -->
      <ion-label>
        <!-- Title of the trip -->
        <h2>RoundT Chicago to Indiana and Back</h2>
        <!-- Date and time of the trip -->
        <p>April 25, 2023 - 11:00 AM</p>
        <!-- Cost of the trip -->
        <p>$400</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <!-- Ion-avatar for an image at the start -->
      <ion-avatar slot="start">
        <!-- Image of the trip -->
        <img src="assets/car3.jpg">
      </ion-avatar>
      <!-- Ion-label for the trip details -->
      <ion-label>
        <!-- Title of the trip -->
        <h2>RoundT Chicago to Milwaukee and Back</h2>
        <!-- Date and time of the trip -->
        <p>April 28, 2023 - 9:00 AM</p>
        <!-- Cost of the trip -->
        <p>$500</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <!-- Ion-avatar for an image at the start -->
      <ion-avatar slot="start">
        <!-- Image of the trip -->
        <img src="assets/car2.jpg">
      </ion-avatar>
      <!-- Ion-label for the trip details -->
      <ion-label>
        <!-- Title of the trip -->
        <h2>OneDub Chicago to Indiana</h2>
        <!-- Date and time of the trip -->
        <p>April 15, 2023 - 12:00 PM</p>
        <!-- Cost of the trip -->
        <p>$200</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <!-- Ion-avatar for an image at the start -->
      <ion-avatar slot="start">
        <!-- Image of the trip -->
        <img src="assets/car4.jpg">
      </ion-avatar>
      <!-- Ion-label for the trip details -->
      <ion-label>
        <!-- Title of the trip -->
        <h2>OneDub Chicago to Wisconsin</h2>
        <!-- Date and time of the trip -->
        <p>April 20, 2023 - 1:00 PM</p>
        <!-- Cost of the trip -->
        <p>$250</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <!-- Ion-avatar for an image at the start -->
      <ion-avatar slot="start">
        <!-- Image of the trip -->
        <img src="assets/car1.jpg">
      </ion-avatar>
      <!-- Ion-label for the trip details -->
      <ion-label>
        <!-- Title of the trip -->
        <h2>RoundT Chicago to Indiana and Back</h2>
        <!-- Date and time of the trip -->
        <p>April 25, 2023 - 11:00 AM</p>
        <!-- Cost of the trip -->
        <p>$400</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <!-- Ion-avatar for an image at the start -->
      <ion-avatar slot="start">
        <!-- Image of the trip -->
        <img src="assets/car3.jpg">
      </ion-avatar>
      <!-- Ion-label for the trip details -->
      <ion-label>
        <!-- Title of the trip -->
        <h2>RoundT Chicago to Milwaukee and Back</h2>
        <!-- Date and time of the trip -->
        <p>April 28, 2023 - 9:00 AM</p>
        <!-- Cost of the trip -->
        <p>$500</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>