.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}


.profile-header h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

.profile-header .location {
  margin-top: 5px;
}

.profile-header .phone {
  margin-top: 5px;
}

.profile-info ion-item {
  --highlight-color-invalid: #f44336;
}

.profile-info ion-label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.profile-info .value {
  font-size: 14px;
  margin-left: 15px;
}

.profile-info ion-icon {
  font-size: 20px;
  margin-right: 5px;
}

.profile-info .rating-value {
  font-size: 14px;
  margin-left: 10px;
}
ion-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 175px;
}

ion-avatar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
