<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="calendar-container">
  <div class="calendar-wrapper">
    <input type="date" placeholder="Select a date" class="calendar-input">
  </div>

  <ion-list>
    <ion-item *ngFor="let date of selectedDates">
      <ion-label>{{ date }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>8-hour block of selected times</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-button color="primary" expand="block" [routerLink]="['/tabs/tab1']">Save Schedule</ion-button>
  </ion-toolbar>
</ion-footer>
