<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary">
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
      <ion-icon name="eye" slot="end"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sign up as</ion-label>
      <ion-select>
        <ion-select-option value="rider" [routerLink]="['/signupr']">Rider</ion-select-option>
        <ion-select-option value="driver" [routerLink]="['/signupd']">Driver</ion-select-option>
        <ion-select-option value="admin" [routerLink]="['/signupa']">Administration</ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <ion-item>
    <ion-checkbox></ion-checkbox>
    <ion-label color="secondary">I agree to LongD’s Terms of Service and acknowledge the <a href="#">Privacy Policy</a>.</ion-label>
  </ion-item>
  <p>&nbsp;</p>

  <ion-button expand="block" color="secondary" [routerLink]="['/signupa']">Sign Up</ion-button>
  <p class="already-have-account">Already have an account? Click here to Sign In</p>
</ion-content>
