.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.calendar-wrapper {
  width: 300px; /* Adjust the width as needed */
  text-align: center;
}

.calendar-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
}
