<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>SIGN UP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary" >
  <form>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text"  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" f required></ion-input>
      <ion-icon name="eye" slot="end" ></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password"  required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Driver's License</ion-label>
      <ion-button slot="end" fill="outline" color="secondary" size="small">
        <ion-icon name="cloud-upload"></ion-icon>
        Upload
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Registration</ion-label>
      <ion-button slot="end" fill="outline" color="secondary" size="small">
        <ion-icon name="cloud-upload"></ion-icon>
        Upload
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Proof of Insurance</ion-label>
      <ion-button slot="end" fill="outline" color="secondary" size="small">
        <ion-icon name="cloud-upload"></ion-icon>
        Upload
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Vehicle Photos(ll max)</ion-label>
      <ion-button slot="end" fill="outline" color="secondary" size="small">
        <ion-icon name="cloud-upload"></ion-icon>
        Upload
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Rows/Heated Seats</ion-label>
      <ion-checkbox slot="end" value="1"></ion-checkbox>
      <ion-checkbox slot="end" value="2"></ion-checkbox>
      <ion-checkbox slot="end" value="3"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>U Connect</ion-label>
      <ion-checkbox slot="end" value="1"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Rows/AC Vents</ion-label>
      <ion-checkbox slot="end" value="1"></ion-checkbox>
      <ion-checkbox slot="end" value="2"></ion-checkbox>
      <ion-checkbox slot="end" value="3"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Outer Storage Racks</ion-label>
      <ion-checkbox slot="end" value="1"></ion-checkbox>
      <ion-checkbox slot="end" value="3"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>TV Screen</ion-label>
      <ion-checkbox slot="end" value="1"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>WIFI</ion-label>
      <ion-checkbox slot="end" value="1"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Pet Friendly</ion-label>
      <ion-checkbox slot="end" value="1"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Full Luggage Storage</ion-label>
      <ion-checkbox slot="end" value="1"></ion-checkbox>
    </ion-item>
  </form>

  <ion-item>
    <ion-checkbox ></ion-checkbox>
    <ion-label color="secondary">I agree to LongD’s Terms of Service and acknowledge the <a href="#">Privacy Policy</a>.</ion-label>
  </ion-item>

  <h1>
    &nbsp;
  </h1>

  <ion-button expand="block" color ="primary" [routerLink]="['/tabs/tab1']">Sign Up</ion-button>
</ion-content>
