<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button color="primary" [routerLink]="['/one-dub']">OneDub</ion-button>
    </ion-buttons>
    <ion-title>
      ROUNDT
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary">RoundT</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="trip-list">
    <div class="trip-item">
      <div class="driver-info">
        <img src="assets/d-pic.png" alt="Driver Profile Pic">
        <div class="driver-details">
          <div class="driver-name">Bobby JOhnson</div>
          <div class="trip-count">1000+ trips</div>
          <div class="driver-rating">4.5<span class="star">&#9733;</span></div>
        </div>
      </div>
      <img src="assets/vehicle-pic.png" alt="Vehicle Pic">
      <div class="trip-details">
        <div class="trip-destination">Chicago-Wisconsin</div>
        <div class="trip-destination">Wisconsin-Chicago</div>
        <div class="trip-date">April 15, 2023</div>
        <div class="trip-time">11:00 AM</div>
        <div class="vehicle-type">Gas Car</div>
        <div class="amenities">
          <img src="assets/pet-friendly-icon.png" alt="Pet Friendly">
          <img src="assets/w-icon.png" alt="WiFi">
          <img src="assets/ac-icon.png" alt="AC">
          <img src="assets/tv-icon.png" alt="TV">
          <img src="assets/l-icon.png" alt="Luggage">
        </div>
        <div class="seat-icons">
          <span class="person-icon" id="seat-1"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-2"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-3"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-4"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-5"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-6"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-7"><ion-icon name="person"></ion-icon></span>
        </div>
        <ion-button color="primary" expand="block" class="book-button" [routerLink]="['//tabs/tab1']">Book ride</ion-button>
      </div>
    </div>
    <div class="trip-item">
      <div class="driver-info">
        <img src="assets/d1-pic.png" alt="Driver Profile Pic">
        <div class="driver-details">
          <div class="driver-name">Reginald Tees</div>
          <div class="trip-count">1000+ trips</div>
          <div class="driver-rating">4.5<span class="star">&#9733;</span></div>
        </div>
      </div>
      <img src="assets/vehicle1-pic.png" alt="Vehicle Pic">
      <div class="trip-details">
        <div class="trip-destination">Chicago-Milwaukee</div>
        <div class="trip-destination">Milwaukee-Chicago</div>
        <div class="trip-date">April 15, 2023</div>
        <div class="trip-time">2:00 PM</div>
        <div class="vehicle-type">Gas Car</div>
      </div>
      <div class="amenities">
        <img src="assets/pet-friendly-icon.png" alt="Pet Friendly">
        <img src="assets/w-icon.png" alt="WiFi">
        <img src="assets/ac-icon.png" alt="AC">
        <img src="assets/tv-icon.png" alt="TV">
        <img src="assets/l-icon.png" alt="Luggage">
      </div>
      <div class="seat-icons">
        <span class="person-icon" id="seat-1"><ion-icon name="person"></ion-icon></span>
        <span class="person-icon" id="seat-2"><ion-icon name="person"></ion-icon></span>
        <span class="person-icon" id="seat-3"><ion-icon name="person"></ion-icon></span>
        <span class="person-icon" id="seat-4"><ion-icon name="person"></ion-icon></span>
        <span class="person-icon" id="seat-5"><ion-icon name="person"></ion-icon></span>
        <span class="person-icon" id="seat-6"><ion-icon name="person"></ion-icon></span>
        <span class="person-icon" id="seat-7"><ion-icon name="person"></ion-icon></span>
      </div>
      <div>
        <ion-button color="primary" expand="block" class="book-button" [routerLink]="['//tabs/tab1']">Book ride</ion-button>
      </div>
      <div class="trip-item">
        <div class="driver-info">
          <img src="assets/d30-pic.png" alt="Driver Profile Pic">
          <div class="driver-details">
            <div class="driver-name">Laura Wheels</div>
            <div class="trip-count">155 trips</div>
            <div class="driver-rating">4.5<span class="star">&#9733;</span></div>
          </div>
        </div>
        <img src="assets/vehicle2-pic.png" alt="Vehicle Pic">
        <div class="trip-details">
          <div class="trip-destination">Chicago-Indiana</div>
          <div class="trip-destination">Indiana-Chicago</div>
          <div class="trip-date">April 15, 2023</div>
          <div class="trip-time">4:00 PM</div>
          <div class="vehicle-type">Gas Car</div>
        </div>
        <div class="amenities">
          <img src="assets/pet-friendly-icon.png" alt="Pet Friendly">
          <img src="assets/w-icon.png" alt="WiFi">
          <img src="assets/ac-icon.png" alt="AC">
          <img src="assets/tv-icon.png" alt="TV">
          <img src="assets/l-icon.png" alt="Luggage">
        </div>
        <div class="seat-icons">
          <span class="person-icon" id="seat-1"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-2"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-3"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-4"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-5"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-6"><ion-icon name="person"></ion-icon></span>
          <span class="person-icon" id="seat-7"><ion-icon name="person"></ion-icon></span>
        </div>
        <div>
          <ion-button color="primary" expand="block" class="book-button" [routerLink]="['//tabs/tab1']">Book ride</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

