<ion-header>
  <ion-toolbar color ="primary">
    <ion-title>SAVED TRIPS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/car2.jpg">
      </ion-avatar>
      <ion-label>
        <h2>OneDub Chicago to Indiana</h2>
        <p>April 15, 2023 - 12:00 PM</p>
        <p>$200</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/car4.jpg">
      </ion-avatar>
      <ion-label>
        <h2>OneDub Chicago to Wisconsin</h2>
        <p>April 20, 2023 - 1:00 PM</p>
        <p>$250</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/car1.jpg">
      </ion-avatar>
      <ion-label>
        <h2>RoundT Chicago to Indiana and Back</h2>
        <p>April 25, 2023 - 11:00 AM</p>
        <p>$400</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/car3.jpg">
      </ion-avatar>
      <ion-label>
        <h2>RoundT Chicago to Milwaukee and Back</h2>
        <p>April 28, 2023 - 9:00 AM</p>
        <p>$500</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
