ion-col {
  background-color: #e6e6e6;
  border: solid 1px #fff;
  color: black;
  text-align: center;

}
ion-content::part(background){
background:transparent;
}

//.modal-container {
  //border-radius: 35px;
  //overflow: hidden;
    //position: relative; [> Add this to create a stacking context <]
//}

