<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>SETTINGS</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['//tabs/tab4/']">
        <ion-icon name="log-out" >Log Out</ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Notifications</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Sound</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Vibration</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Language</ion-label>
      <ion-select>
        <ion-select-option value="english">English</ion-select-option>
        <ion-select-option value="spanish">Spanish</ion-select-option>
        <ion-select-option value="french">French</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Currency</ion-label>
      <ion-select >
        <ion-select-option value="usd">USD</ion-select-option>
        <ion-select-option value="eur">EUR</ion-select-option>
        <ion-select-option value="gbp">GBP</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Payment Method</ion-label>
      <ion-select>
        <ion-select-option value="creditCard">Credit Card</ion-select-option>
        <ion-select-option value="paypal">PayPal</ion-select-option>
        <ion-select-option value="applePay">Apple Pay</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Account</ion-label>
      <ion-button fill="outline" slot="end" >View Account</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Terms of Service</ion-label>
      <ion-button fill="outline" slot="end" >View Terms</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Privacy Policy</ion-label>
      <ion-button fill="outline" slot="end" >View Privacy Policy</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>About</ion-label>
      <ion-button fill="outline" slot="end" >View About</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
